* {
  box-sizing: border-box;
}
.root-container {
  width: 100%;
  min-height: 100vh;
  background-image: url("https://picsum.photos/1600/900");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.clip-text {
  font-size: 2.7em;
  font-weight: bold;
  line-height: 1;
  position: relative;
  display: inline-block;
  margin: 0.25em;
  padding: 0.5em 0.75em;
  text-align: center;
  /* Color fallback */
  color: #fff;
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

.clip-text:before,
.clip-text:after {
  position: absolute;
  content: "";
}

/* Background */
.clip-text:before {
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: inherit;
}

/* Text Background (black zone) */
.clip-text:after {
  position: absolute;
  z-index: -1;
  top: 0.125em;
  right: 0.125em;
  bottom: 0.125em;
  left: 0.125em;
}

/* Change the background position to display letter when the black zone isn't here */
.clip-text--no-textzone:before {
  background-position: -0.75em 0;
}

.clip-text--no-textzone:after {
  content: none;
}

/* Use Background-size cover for photo background and no-repeat background */
.clip-text--cover,
.clip-text--cover:before {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}

/* Background image from http://thepatternlibrary.com/ and http://lorempixel.com */
.clip-text_one {
  background-color: #f2f2f2;
}
.input-box {
  width: 400px;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  width: 100%;
  height: 40px;
  border: 1px lightgray solid;
  border-radius: 6px;
  padding: 10px;
}
.add-btn {
  width: 80px;
  height: 40px;
  margin: 10px;
  color: white;
  border-radius: 6px;
  background-color: black;
}

.add-btn-2 {
  width: 150px;
  height: 40px;
  margin: 10px;
  color: white;
  border-radius: 6px;
  background-color: black;
}

.create {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  justify-content: center;
}
.create i {
  position: absolute;
  top: 60px;
}
.content {
  background-color: #fff;
  overflow: auto;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.add-btn-div {
  text-align: center;
}
ul {
  padding: 0;
  margin: 0;
}
.content::-webkit-scrollbar {
  display: none;
}
.content ul {
  padding: 0;
  margin: 0;
}
.item {
  width: 400px;
  height: 40px;
  min-height: 40px;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
}
li:hover {
  cursor: pointer;
  transform: scale(1.02, 1.02);
}
.item i {
  position: absolute;
  padding: 0;
  margin: 0;
  height: 20px;
  width: 20px;
  left: 20px;
  top: 1px;
  background-color: #fff;
}

.item p {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 20px;
  left: 70px;
  top: 3px;
  background-color: #fff;
}
