img[src=""] {
  display: none;
}
div {
  position: relative;
}

img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 7px;
  margin: 30px;
}

.btn {
  top: 35px;
  left: 195px;
  position: absolute;
  border: none;
  background-color: transparent;
  font-family: "Times New Roman", Times, serif;
}

i:hover {
  transform: scale(1.1, 1.1);
}
